body { 
/*
    background-image: url(./assets/bg-mobile.jpg);  
    background-repeat: no-repeat; 
    background-position: center; 
    background-size:  cover;
*/
 
/*background: color image norepeat position*/  
background:url(./assets/bg-mobile.jpg) no-repeat  top  
center/cover;  
 
} 
 
